<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Zoom Controls">
  <button ngbButton class="btn btn-client" (click)="zoomIn()">
    <i class="fa fa-plus"></i>
  </button>
  <button ngbButton class="btn btn-client client-divider-top" (click)="zoomOut()">
    <i class="fa fa-minus"></i>
  </button>
  @if (tokenFocusVisible) {
    <button ngbButton class="btn btn-client client-divider-top"
      (click)="focusToken()">
      <i class="fa fa-dot-circle-o"></i>
    </button>
  }
</div>
