<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Zoom Controls">
  <button ngbButton class="btn btn-dark" (click)="zoomIn()">
    <i class="fa fa-plus"></i>
  </button>
  <button ngbButton class="btn btn-dark" style="border-top: 1px solid rgba(255, 255, 255, 0.1);" (click)="zoomOut()">
    <i class="fa fa-minus"></i>
  </button>
  <button ngbButton class="btn btn-dark" style="border-top: 1px solid rgba(255, 255, 255, 0.1);"
    (click)="focusToken()">
    <i class="fa fa-dot-circle-o"></i>
  </button>
</div>