<div class="frame" (scroll)="scrolled($event)" #scrollframe>
    <app-message *ngFor="let message of messages; index as i;" [message]="message" [attr.data-id]="message.id" class="message" #message></app-message>
</div>
<div class="message-input" #messageinputarea>
    <div class="form-group">
        <div class="input-group">
            <input [(ngModel)]="messageInput" (keyup.enter)="onEnter()" id="messageInput" type="text" class="form-control" placeholder="Type /help for commands..." />
            <div class="input-group-append">
                <button class="btn btn-dark" type="button" id="button-addon" (click)="onEnter()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
        </div>
    </div>
        <div class="dice">
            <button class="btn btn-dark" type="button" id="roll-d2" (click)="quickRoll('2')"><i class="badge" aria-hidden="true">d2</i></button>
            <button class="btn btn-dark" type="button" id="roll-d4" (click)="quickRoll('4')"><i class="badge" aria-hidden="true">d4</i></button>
            <button class="btn btn-dark" type="button" id="roll-d6" (click)="quickRoll('6')"><i class="badge" aria-hidden="true">d6</i></button>
            <button class="btn btn-dark" type="button" id="roll-d8" (click)="quickRoll('8')"><i class="badge" aria-hidden="true">d8</i></button>
            <button class="btn btn-dark" type="button" id="roll-d10" (click)="quickRoll('10')"><i class="badge" aria-hidden="true">d10</i></button>
            <button class="btn btn-dark" type="button" id="roll-d12" (click)="quickRoll('12')"><i class="badge" aria-hidden="true">d12</i></button>
            <button class="btn btn-dark" type="button" id="roll-d20" (click)="quickRoll('20')"><i class="badge" aria-hidden="true">d20</i></button>
            <button class="btn btn-dark" type="button" id="roll-d100" (click)="quickRoll('100')"><i class="badge" aria-hidden="true">d100</i></button>
            <button class="btn btn-dark" type="button" id="roll-adv" (click)="quickRoll('adv')"><i class="badge" aria-hidden="true">Adv</i></button>
            <button class="btn btn-dark" type="button" id="roll-dis" (click)="quickRoll('dis')"><i class="badge" aria-hidden="true">Dis</i></button>
            <button class="btn btn-dark" type="button" id="roll-neg" (click)="quickRoll('-')"><i class="badge" aria-hidden="true">-</i></button>
            <button class="btn btn-dark" type="button" id="roll-pos" (click)="quickRoll('+')"><i class="badge" aria-hidden="true">+</i></button>
        </div>
</div>
