:host {
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    overflow: scroll;

    @media (max-width: 420px) {
        width: 100px;
    }
}
:host(::-webkit-scrollbar) {
    width: 0 !important
}