$gameboard-margin: 100px;

:host {
    position: absolute;
    top: 8px;
    left: 8px;

    .btn-toolbar > .btn-group {
        margin-bottom: 5px;
    }
}

:host-context(.gameboard) {
    top: $gameboard-margin;
    left: $gameboard-margin;
}