<div class="btn-toolbar" role="toolbar">
  <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" ngbDropdown role="group">
      <button id="dropdownBasic1" type="button" class="btn btn-dark" ngbDropdownToggle>
        EncounterPlus
      </button>
      <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
        <button ngbDropdownItem (click)="showSettings()">Settings</button>
        <button ngbDropdownItem (click)="showAbout()">About</button>
      </div>
    </div>    
  </div>

  <div class="btn-group mr-2 btn-group-toggle" ngbRadioGroup name="radioBasic" role="group" [(ngModel)]="activeTool" (ngModelChange)="activeToolChanged($event)" aria-label="Second group">
    <label ngbButtonLabel class="btn btn-dark">
      <input ngbButton type="radio" value="move"> <i class="fa fa-arrows"></i>
    </label>
    <label ngbButtonLabel class="btn btn-dark">
      <input ngbButton type="radio" value="pointer"> <i class="fa fa-magic"></i>
    </label>
  </div>
</div>

