<div class="message-source">
  <span [style.color]="message.color || 'purple'">◉</span> @if (message.creature) {
  <span [style.color]="'#ccc'"> {{message.creature}} | </span>
  } {{message.source || "Dungeon Master"}} <time>{{message.created | date:'short'}}</time>
</div>

@if (isDiceRoll) {
  <div  class="message-roll clearfix">
    <div class="message-roll-result">{{roll.result}}</div>
    <div class="message-roll-detail">
      <p class="roll-name">{{roll.name || 'Custom'}}: <span [style.color]="rollColor">{{roll.type || 'roll'}}</span></p>
      <p class="roll-formula">{{roll.formula}}</p>
      <p class="roll-detail">{{roll.detail}}</p>
    </div>
  </div>
}

@if (isChat) {
  <div class="message-chat" [innerHTML]="message.content"></div>
}
@if (isTableRoll) {
  <div class="message-tableroll" [innerHTML]="tableRollText"></div>
}
