<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">About</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalInstance.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body text-center">
    <p><img src="/assets/img/icon.png" width="100px" /></p>
    <h4>EncounterPlus VTT</h4>
    <p class="text-muted">External Screen {{version}}</p>
    <a target="_blank" href="https://discord.gg/rc8Bez8"><img src="/assets/img/discord.png" width="200px" /></a>
</div>
