:host {
    // display: block;

    float: left;
    clear: both;

    img {    
        // max-width: 30% !important;
        // width: 30%;
        width: 300px;
        // min-width: 200px;
        height: auto; 
        padding: 3px;
        background-color: rgba(40, 40, 40, 0.7);
        border-radius: 6px;
        cursor: pointer;
    }

    @media (max-width: 420px) {
        img {
            width: 100px;
        }
    }
}