<div id="app" class="h-100 d-flex flex-column {{state.device}}" appDisableRightClick>
  <app-map [state]="state" class="h-100"></app-map>
  <app-toolbar id="toolbar" [state]="state" (action)="toolbarAction($event)" (panel)="activePanelAction($event)" (tool)="activeToolAction($event)"></app-toolbar>

  @if (zoomControls) {
    <app-zoombar id="zoombar" class="d-flex align-items-baseline" (action)="zoombarAction($event)" [state]="state"></app-zoombar>
  }

  <div id="side-bar">
    @if (state.game.started) {
      <app-initiative-list [state]="state" id="initiative-list"></app-initiative-list>
    }
    @if (messages) {
      <app-message-list [state]="state" id="message-list"></app-message-list>
    }
  </div>

  <div id="bottom-bar">
    @if (state.paused) {
      <app-paused></app-paused>
    }
    @if (state.screen.overlayImage) {
      <app-image-handout [screen]="state.screen"></app-image-handout>
    }
    <app-toast-list aria-live="polite" aria-atomic="true"></app-toast-list>
  </div>
  @if (state.screen.overlayHandoutText||state.screen.overlayHandountText) {
    <app-overlay [screen]="state.screen"></app-overlay>
  }

</div>
