/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

body {
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    position: relative;
}

button[aria-label="Close"]:focus {
    outline: none;
}

.lb-outerContainer {
    background-color: transparent !important;
}

.lightbox {
    .lb-image {
        border: 4px solid rgba(40, 40, 40, 0.7);
    }
}

code {
    padding: 2px 4px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #131414;
    margin: 4px 0px;
    display: block;
    color: #6e7ed7;
}