:host {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 5px;
    cursor: pointer;

    @media (max-width: 420px) {
        width: 90px;
        height: 90px;
    }
    
    .main-image {
        background-color: lightgray;
        border: 5px solid gray;
        // border-style: ridge;
        border-radius: 15px;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            object-fit: contain;
            width: 100%;
            // height: 100%;
        }
    }

    .overlay-image {
        border: 5px solid transparent;
        border-radius: 15px;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            // height: 100%;
        }
    }

    h4 {
        color: white;
        background-color: gray;
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin: 0;
        display: inline-block;
        text-align: center;
        font-size: 0.9em;
        line-height: 1.6em;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 8px;
        width: 36px;
        padding: 4px;
        padding-left: 5px;
        
    }
}

:host(.creature-player) {

    .main-image {
        border: 5px solid #3F51B5;
        // border-style: ridge;
    }

    h4 {
        background-color: rgb(51, 65, 146);
    }
}

:host(.creature-monster) {
    .main-image {
        border: 5px solid #631515;
        // border-style: ridge;
    }

    h4 {
        background-color: #581313;   
    }
}

:host(.creature-turned) {
    .main-image {
        border: 5px solid rgb(255, 149, 0);
        // border-style: ridge;
    }

    h4 {
        background-color: rgb(255, 149, 0);   
    }
}